---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/[Header].astro";
import Footer from "@/components/Footer.astro";
---

<Layout title="My Portflio" description="My Portfolio website personal">
	<main>
		<Header />
		//nav
		<div>
			<h2>Hello there!</h2>
			<h1>I'am Agustin Martinez</h1>
			<span></span>
		</div>
	</main>
	<Footer/>
</Layout>
