---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Sections from "@/components/Sections.astro";
import Footer from "@/components/Footer.astro";
---

<Layout
	title="Netflix Argentina - Watch TV Shows Online, Watch Movies Online"
	description="watch movies,movies online,watch TV,TV online,TV shows online,watch TV shows,stream movies,stream tv,instant streaming,watch online,movies,watch movies Argentina,watch TV online,no download,full length movies"
>

<div class="relative">
	<div class="absolute inset-0 overlay z-10"></div>
	<!-- Superposición oscura -->
	<img src="/img/bg.jpg" alt="Image background the Header" class="z-0 absolute object-cover h-[800px] md:h-[510px] lg:h-[700px]" />
	<Header />
	<main>
		<Sections />
	</main>
	<Footer/>
</div>
</Layout>

<style is:global>
	.overlay {
		background: rgba(0, 0, 0, 0.6);
	}
</style>
