---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/[Header].astro";
---

<Layout title="" description="">
    <Header />
    <main>
        <div></div>
    </main>
</Layout>
