<footer
    class="bg-black text-white h-20 text-center content-center border-t-8 border-t-gray-500"
>
    <p>
        Esta pagina esta incompleta por motivos de copyright, no es la pagina
        oficial de Netflix | realizada con fines educativos por Agustin Martinez
    </p>
</footer>

