---
import "@/components/Footer.css" 
---
<footer>
    <p>Esta pagina esta incompleta por motivos de copyright, no es la pagina oficial de Netflix | realizada con fines educativos por Agustin Martinez</p>
</footer>