---

---

<footer class="text-center bg-slate-950 text-white">
      <h4>By Agus &copy; 2024 | All Rights Reserved.</h4>
      <div>
        <a href="https://github.com/Soyagvs" target="_blank" rel="noopener noreferrer">
          {/*falta logo*/ }
        </a>
        <a href="https://www.instagram.com/soyagvs/" target="_blank" rel="noopener noreferrer">
          {/*falta logo*/ }
        </a>
        <a href="mailto:soyagvs@gmail.com" target="_blank" rel="noopener noreferrer">
          {/*falta logo*/ }
        </a>
      </div>
</footer>
