<footer class="flex bg-black text-center h-20 items-center relative z-20 justify-center">
    <p class="text-white text-2xl md:text-lg">Esta pagina esta incompleta por motivos de copyright, no es la pagina oficial de Netflix | realizada con fines educativos por Agustin Martinez</p>
</footer>