---
import Logo from "@/netflix/Logo.astro";
---

<header
    class="bg-transparent z-20 relative p-6 flex justify-around md:flex-col"
>
    <nav class="flex items-center">
        <Logo />
        <button
            class="text-white rounded w-40 h-8 text-lg border border-gray-600 ml-96"
        >
            English
        </button>
        <button
            class="bg-red-600 text-white rounded w-24 h-8 text-sm font-bold ml-2"
        >
            Sign in
        </button>
    </nav>
</header>
