<section class="relative z-20 text-white text-center justify-center mt-40">
    <div>
        <h1 class="text-[50px] font-extrabold mb-2 tracking-tighter">
            Unlimited movies, TV shows, and more
        </h1>

        <h2 class="text-2xl mb-3">Watch anywhere. Cancel anytime.</h2>

        <h3 class="text-[20px] mb-3">
            Ready to watch? Enter your email to create or restart your
            membership.
        </h3>
    </div>
    <div class="flex items-center justify-center space-x-2">
        <input
            class="w-[350px] h-14 bg-transparent rounded border border-gray-600 pl-5"
            type="text"
            name="text"
            placeholder="Email Adress"
        />
        <button
            class="bg-red-600 text-white rounded w-52 h-14 text-2xl font-bold justify-center items-center"
            >Get Started >
        </button>
    </div>
</section>

<section
    class="flex z-20 relative text-white text-start mt-64 bg-black justify-center h-[500px] border-t-8 border-zinc-800 p-10"
>
    <div
        class="flex flex-row-reverse items-center"
    >
        <video
            src="/img/video2.mp4"
            class="w-[290px] mr-14 pb-3 absolute"
            autoplay
            loop
            muted></video>
        <img src="/img/tv.png" alt="" class="w-[400px]" />
        <div class="flex flex-col">
            <h2 class="text-5xl font-extrabold mb-5">Enjoy on your TV</h2>

            <h3 class="text-2xl">
                Watch on Smart TVs, Playstation, Xbox, Chromecast,
                Apple TV, Blu-ray players, and more.
            </h3>
        </div>
    </div>
</section>

<section
    class="flex z-20 relative text-white text-start bg-black justify-center h-[500px] border-t-8 border-zinc-800 p-10"
>
    <div class="flex flex-row items-center ">
        <img src="/img/mobile-0819.jpg" alt="" class="w-[450px]" />
        <div class="flex flex-col text-start">
            <h2 class="text-5xl font-extrabold mb-5">
                Download your shows to watch offline
            </h2>
            <h3 class="text-2xl">
                Save your favorites easily and always have something to watch.
            </h3>
        </div>
    </div>
</section>

<section
    class="flex z-20 relative text-white text-start bg-black justify-center h-[500px] border-t-8 border-zinc-800 p-10"
>
    <div
        class="flex flex-row-reverse items-center"
    >
        <video
            src="/img/video1.mp4"
            class="w-[350px] mb-[150px] mr-[100px] absolute z-10"
            autoplay
            loop
            muted></video>
        <img src="/img/device-pile.png" alt="" class="w-[450px] z-20" />

        <div class="flex flex-col text-start">
            <h2 class="text-5xl font-extrabold mb-5">Watch everywhere</h2>
            <h3 class="text-2xl">
                Stream unlimited movies and TV shows on your phone,
                tablet, laptop, and TV.
            </h3>
        </div>
    </div>
</section>
<section
    class="flex z-20 relative text-white text-start bg-black justify-center h-[500px] border-t-8 border-b-8 border-zinc-800 p-10  "
>
    <div class="flex flex-row items-center ">
        <img src="/img/kids.png" alt="" class="w-[450px]" />
        <div class="flex flex-col">
            <h2 class="text-5xl font-extrabold mb-5">
                Create profiles for kids
            </h2>
            <h3 class="text-2xl">
                Send kids on adventures with their favorite characters
                in a space made just for them—free with your membership.
            </h3>
        </div>
    </div>
</section>
